body{
  margin: 0;
}

#container{
  display: flex;
  height: 100vh;
}

.login{
  background-color: rgb(41, 53, 64);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  h1{
    text-align: center;
    margin-top: 185px;
    font-family: Helvetica;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 0;
    color: white;
    a{
      cursor: pointer;
      text-decoration: none;
      color: rgb(215, 54, 58);
      font-weight: 500;
      transition: 0.4s;
      &:hover{
        color: rgba(215, 54, 58, 0.8);
      }
    }
  }
  h2{
    color: white;
    font-family: Helvetica;
    font-weight: 100;
    letter-spacing: 2px;
  }
  form{
    input{
      height: 32px;
      border-radius: 25px;
      padding: 2px 0 2px 20px;
      width: 90%;
      border: none;
      font-size: 16px;
      &:focus{
        outline: none;
      }
    }
  }
}

.main{
  display: flex;
  flex-direction: column;
  width: 75%;
  background-color: lightgrey;
  .message-section{
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: Helvetica;
    overflow-y: scroll;
    width: 97%;
    padding-left: 15px;
    padding-right: 15px;
    .messageSent{
      align-self: flex-end;
      flex: 0 0 auto;
      h3{
        display: inline-block;
        padding: 4px 10px 4px 10px;
        background: lightslategray;
        border-radius: 27px;
        font-size: 16px;
        font-weight: 100;
        color: white;
        margin: 10px 0;
      }
    }
    .messageRecieved{
      flex: 0 0 auto;
      p{
        color: darkslategrey;
        margin: 10px 0 0 5px;
      }
      h3{
        margin: 3px 0 5px 0;
        display: inline-block;
        padding: 4px 10px 4px 10px;
        background: rgb(215, 54, 58);
        border-radius: 27px;
        font-size: 16px;
        font-weight: 100;
        color: white;
      }
    }
  }
  .input-section{
    background-color: rgb(41, 53, 64);
    height: 8vh;
    form{
      height: 6vh;
      margin-left: 15px;
      margin-top: 14px;
      #text-input{
        height: 32px;
        border-radius: 25px;
        padding: 2px 0 2px 20px;
        width: 75%;
        border: none;
        font-size: 16px;
        margin-right: 30px;
        &:focus{
          outline: none;
        }
      }
      #submit-button{
        background-color: #13b885;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 20px;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: 0.4s;
        &:focus{
          outline: none;
        }
        &:hover{
          color: #13b885;
          background-color: white;
        }
      }
    }
  }
}

.side-bar{
  width:25%;
  background-color: slategrey;
  .header{
    background-color: rgb(41, 53, 64);
    text-align: center;
    height: 15vh;
    color: white;
    h1{
      margin: 0;
      padding: 15px 0 10px 0;
      font-family: Helvetica;
      font-weight: 100;
      letter-spacing: 2px;
    }
    h2{
      margin: 0;
      padding: 0px 0 0 0;
      font-family: Helvetica;
      font-weight: 100;
      letter-spacing: 1px;
      a{
        cursor: pointer;
        text-decoration: none;
        color: rgb(215, 54, 58);
        font-weight: 500;
        transition: 0.4s;
        &:hover{
          color: rgba(215, 54, 58, 0.8);
        }
      }
    }
  }
  .active-users{
    height: 85vh;
    overflow: auto;
    h2{
      margin: 0;
      padding: 12px 0 12px 10px;
      font-family: Helvetica;
      font-weight: 100;
      text-transform: lowercase;
      font-size: 25px;
      letter-spacing: 5px;
      background-color: #13b885;
    }
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      li{
        display: flex;
        align-items: center;
        padding: 5px 10px 5px 10px;
        border-top: 2px solid lightslategray;
        border-bottom: 2px solid lightslategrey;
        img{
          height: 60px;
          border-radius: 45px;
          width: 60px;
          margin-right: 10px;
        }
        h3{
          margin-right: 15px;
          font-family: Helvetica;
          font-size: 20px;
          font-weight: 100;
          letter-spacing: 1px;
        }
        p{
          font-family: Helvetica;
          font-weight: 100;
          color: lightgrey;
        }
      }
    }
  }
}
